In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [3]:
df = pd.read_csv('data/lab42_jan_data.csv', header=1)

In [4]:
df.columns

Index(['Start Date', 'End Date', 'Response Type', 'IP Address', 'Progress',
       'Duration (in seconds)', 'Finished', 'Recorded Date', 'Response ID',
       'Recipient Last Name', 'Recipient First Name', 'Recipient Email',
       'External Data Reference', 'Location Latitude', 'Location Longitude',
       'Distribution Channel', 'User Language', 'introduction', 'floor',
       'ground-floor', '1-floor', '2-floor', '3-floor', 'emotion', 'comfort',
       'space usage', 'occupation', 'usage'],
      dtype='object')

In [5]:
df

,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,floor,ground-floor,1-floor,2-floor,3-floor,emotion,comfort,space usage,occupation,usage
0,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID188""}","{""ImportId"":""QID189""}","{""ImportId"":""QID190""}","{""ImportId"":""QID191""}","{""ImportId"":""QID192""}","{""ImportId"":""QID127238936_TEXT""}","{""ImportId"":""QID127238895_TEXT""}","{""ImportId"":""QID195""}","{""ImportId"":""QID194""}","{""ImportId"":""QID127238896""}"
1,2023-05-02 08:21:52,2023-05-02 08:25:13,IP Address,109.36.149.240,100,201,True,2023-05-02 08:25:17,R_31LYXlAvqhNxhZZ,NaN,...,3rd Floor,NaN,NaN,NaN,Open lounge area,I feel pretty calm and relaxed.,I don’t notice any uncomfortable factors. Temp...,Learning / Working by yourself,Yes,No
2,2023-05-03 05:12:22,2023-05-03 05:14:17,IP Address,89.204.138.102,100,114,True,2023-05-03 05:14:17,R_3PsGRTeYbbBvV4v,NaN,...,1st Floor,NaN,Tables on the landing (with wooden floor) acce...,NaN,NaN,I really like it! It’s fairly quiet right now ...,Very comfortable! Perfect temperature,Learning / Working in a group,Yes,Yes
3,2023-05-03 05:22:43,2023-05-03 05:23:51,IP Address,84.241.206.194,100,67,True,2023-05-03 05:23:52,R_3HvN7yBm71LLbYx,NaN,...,Ground floor,Round tables by the three plants (across woode...,NaN,NaN,NaN,Rustig,8/10,Learning / Working in a group,No,No
4,2023-05-03 05:12:38,2023-05-03 12:35:16,IP Address,80.112.182.87,100,26558,True,2023-05-03 12:35:17,R_cUqwhYxk9MiQPZL,NaN,...,1st Floor,NaN,Green group study tables (between a row of pla...,NaN,NaN,"social, but still a nice place to study. It ca...",It get cold,Learning / Working in a group,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2023-05-17 04:03:22,2023-05-17 04:05:19,IP Address,145.109.10.9,55,116,False,2023-05-24 04:05:28,R_smRemfIwnMl2VLX,NaN,...,1st Floor,NaN,Yellow/white chairs & tables (besides the wood...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,2023-05-26 03:38:39,2023-05-26 03:39:04,IP Address,145.109.17.164,100,24,True,2023-05-26 03:39:04,R_2uwIvJmsN0Jk8au,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2023-05-26 03:39:28,2023-05-26 03:39:38,IP Address,145.109.13.199,100,9,True,2023-05-26 03:39:38,R_1jJ5CUq0qFLw2M1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,2023-05-26 03:40:04,2023-05-26 03:41:23,IP Address,109.38.149.190,100,79,True,2023-05-26 03:41:24,R_2scI2xMQBXm5EBi,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,2023-05-22 02:16:12,2023-05-22 02:16:30,IP Address,145.90.194.222,55,18,False,2023-05-29 02:16:34,R_1d4RmT9tMvQ3t3R,NaN,...,1st Floor,NaN,Tables on the landing (with wooden floor) acce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Remove Unwanted Rows and Columns"

In [6]:
df = df.drop([0])
df = df.drop(df.iloc[:,0:17], axis=1)

In [10]:
df.shape

(100, 11)

# Drop non-consenting paticipants

In [11]:
df = df[df.introduction != 'I do not wish to participate in the survey']

In [12]:
df.shape

(96, 11)

# Remapping Floors
This applies only for LAB42 data.

In [15]:
df = df.replace("5th Floor", "6th Floor")
df = df.replace("4th Floor", "3rd Floor")

In [16]:
df.head()

,introduction,floor,ground-floor,1-floor,2-floor,3-floor,emotion,comfort,space usage,occupation,usage
1,"I understand, and I agree to participate in th...",3rd Floor,NaN,NaN,NaN,Open lounge area,I feel pretty calm and relaxed.,I don’t notice any uncomfortable factors. Temp...,Learning / Working by yourself,Yes,No
2,"I understand, and I agree to participate in th...",1st Floor,NaN,Tables on the landing (with wooden floor) acce...,NaN,NaN,I really like it! It’s fairly quiet right now ...,Very comfortable! Perfect temperature,Learning / Working in a group,Yes,Yes
3,"I understand, and I agree to participate in th...",Ground floor,Round tables by the three plants (across woode...,NaN,NaN,NaN,Rustig,8/10,Learning / Working in a group,No,No
4,"I understand, and I agree to participate in th...",1st Floor,NaN,Green group study tables (between a row of pla...,NaN,NaN,"social, but still a nice place to study. It ca...",It get cold,Learning / Working in a group,Yes,No
5,"I understand, and I agree to participate in th...",Ground floor,Study corner next to the plant wall,NaN,NaN,NaN,"Having computer issues so stressed, not really...",Pretty good but it's a bit too loud and open t...,Learning / Working by yourself,Yes,No

In [11]:
df['3-floor'] = df[df['floor'] == '3rd Floor'].loc[:, ['3-floor']].replace(np.nan, 'Unsure')

# Drop consent row and save df

In [24]:
df = df.drop('introduction', axis=1)

In [25]:
df.to_csv('data/lab42_cleaned_jan_data.csv')