In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
df = pd.read_csv('data/data.csv', header=1)

In [3]:
df.columns

Index(['Start Date', 'End Date', 'Response Type', 'IP Address', 'Progress',
       'Duration (in seconds)', 'Finished', 'Recorded Date', 'Response ID',
       'Recipient Last Name', 'Recipient First Name', 'Recipient Email',
       'External Data Reference', 'Location Latitude', 'Location Longitude',
       'Distribution Channel', 'User Language', 'introduction', 'floor',
       'ground-floor', '1-floor', '2-floor', '3-floor', 'emotion', 'comfort',
       'occupation', 'usage', 'recruitment'],
      dtype='object')

In [4]:
df.shape

(155, 28)

# Remove Unwanted Rows and Columns"

In [5]:
df = df.drop([0])
df = df.drop(df.iloc[:,0:17], axis=1)

In [6]:
df.shape

(154, 11)

In [7]:
df.head()

,introduction,floor,ground-floor,1-floor,2-floor,3-floor,emotion,comfort,occupation,usage,recruitment
1,"I understand, and I agree to participate in th...",NaN,NaN,NaN,NaN,NaN,I always feel a bit zen when I am here. It’s q...,"The light in the offices is perfect, as well a...",NaN,Yes,I will be only be participating in the survey
2,"I understand, and I agree to participate in th...",NaN,NaN,NaN,NaN,NaN,"Cold, a bit down","Temperature (it’s too cold), lack of light (bu...",NaN,Yes,I will be only be participating in the survey
3,"I understand, and I agree to participate in th...",NaN,NaN,NaN,NaN,NaN,Calm,Comfortable temperature and pleasant lighting....,NaN,Yes,I will be only be participating in the survey
4,"I understand, and I agree to participate in th...",6th Floor,NaN,NaN,NaN,NaN,"Hungry, a bit cold","Cold, quiet, well lit",NaN,Yes,I would like to participate in a building walk
5,"I understand, and I agree to participate in th...",Ground floor,Library learning room,NaN,NaN,NaN,Stressed about my exams but I am happy in this...,Usually it is really nice and comfortably warm...,Yes,Yes,I would like to participate in a building walk

# Drop non-consenting paticipants

In [8]:
df = df[df.introduction != 'I do not wish to participate in the survey']

In [9]:
df.shape

(147, 11)

# Remapping Floors

In [10]:
df = df.replace("5th Floor", "6th Floor")
df = df.replace("4th Floor", "3rd Floor")

In [11]:
df['3-floor'] = df[df['floor'] == '3rd Floor'].loc[:, ['3-floor']].replace(np.nan, 'Unsure')

# Drop consent row and save df

In [12]:
df = df.drop('introduction', axis=1)

In [13]:
df.to_csv('data/cleaned_data.csv')